*{
    margin: 0;
    padding: 0;
}
.body{
    min-height: 100vh;
    display: flex;
    background: url("./bg2.jpeg");
    background-size: contain;
    justify-content: center;
    align-items: center;
}
#board{
    border: 5px solid black;
    background: url("./bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 50vw;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.s-head{
    background-color: gray;
    border: 2px solid white;
    border-radius: 50%;
}
.s-body{
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
}
.food{
    background-color: blue;
    border: 2px solid white;
    border-radius: 50%;
}